.appDiv{
    border: 1px black dotted;
    text-align: center;
}

header{
    background-color: #DDDDDD;
    border: 1px black solid;
}

.sideMainContainer{
    display: flex;
    justify-content: space-evenly;  
}
